@use "./variables.scss" as *;

// put your custom CSS here!

a:not(.page-title a) {
  background-color: transparent !important;
  text-decoration: underline !important;
  text-underline-offset: 3px;
}

.page-title a {
  background-color: transparent !important;
  text-decoration: none !important;
}

hr {
  display: none !important;
}

// Sitetitel gecentreerd
.page-title {
  text-align: center;
  width: 100%;
}

