@use "./variables.scss" as *;

// put your custom CSS here!

a:not(.page-title a) {
  background-color: transparent !important;
  text-decoration: underline !important;
  text-underline-offset: 3px;
}

.page-title a {
  background-color: transparent !important;
  text-decoration: none !important;
}

hr {
  display: none !important;
}

// Sitetitel gecentreerd
.page-title {
  text-align: center;
  width: 100%;
}

// Footer tekst
#quartz-root::after {
  content: "Eigen geschreven tekst is vrij te gebruiken.";
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: var(--gray);
  padding: 2rem 0 1.5rem;
}

